@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Bevestig e-mail";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Jouw e-mailadres is bevestigd. Je kan nu inloggen.</p>
</header>