/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Belangrijke kleuren ofzo */
:root {
  --important1: #4ebdae;
  --important2: #f19600;
  --important3: #c63319;
}

.bg-custom {
  background-color: var(--important1);
}

.navbar-light .navbar-brand {
  color: #ffffff;
}

h1,
p {
  color: Var(--important3);
}

h4 {
    font-size: 24px;
    color: Var(--important2);
    padding: 10px 0px 10px 0px;
    border-top: solid 1px var(--important2);
    border-bottom: solid 1px var(--important2);
}
/*
@media only screen (max-width: 600px) 
h4 {
    font-size: 24px;
    color: Var(--important2);
}
*/

.home-text {
    align-content: center;
}

.home-content {
    margin-top: 20px;
}


a {
  color: Var(--important2);
}

.card-title {
  color: Var(--important1);
}

.card-text {
  color: Var(--dark);
}

.userImage img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.userInfo p {
  margin-bottom: 2px;
}

.metadataUser .likes span {
  font-size: 1.5em;
  color: Var(--important3);
}
