/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* Belangrijke kleuren ofzo */
:root {
    --groen: #318379;
    --secundair: #25645d;
    --important3: #d43900;
    --background: #F9FBFF;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.skipcontent {
    color: white;
    background-color: black;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
    color: var(--important3);
    background-color: #fff;
    border-color: var(--important3);
}
.btn-block {
    color: #F19600;
    background-color: #fff;
    border-color: #F19600;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

    html body {
        background-color: var(--background);
    }

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.bg-custom {
  background-color: var(--groen);
}

.navbar-light .navbar-brand {
  color: #ffffff;
}
.bg {
    background: url('/Pictures/image.png') no-repeat;
    width: 100%;
    height: 100vh;
}

h1,
p {
  color: Var(--important3);
}

h4 {
    font-size: 24px;
    color: Var(--secundair);
    padding: 10px 0px 10px 0px;
    border-top: solid 1px var(--secundair);
    border-bottom: solid 1px var(--secundair);
}

.home-content {
    margin-top: 20px;
}


a {
  color: Var(--secundair);
}

.card-title {
  color: Var(--groen);
}

.card-text {
  color: Var(--dark);
}

.userImage img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.userInfo p {
  margin-bottom: 2px;
}

.metadataUser .likes span {
  font-size: 1.5em;
  color: Var(--important3);
}

.liked svg {
	fill: Var(--important3);
}

.meldingClosed {
	border-color: red
}
