@page
@model Disable2faModel
@{
    ViewData["Title"] = "Zet 2FA uit";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Deze actie deactiveert 2FA.</strong>
    </p>
    <p>
        2FA deactiveren verandert niets aan de sleutels in uw authenticatie apps. Als u de sleutels wil veranderen
        die gebruikt worden in uw authenticatie app moet u uw <a asp-page="./ResetAuthenticator">sleutels herstellen.</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Disable 2FA</button>
    </form>
</div>
