@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Genereer 2FA herstelcodes";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Bewaar deze codes op een veilige plek.</strong>
    </p>
    <p>
        Als u uw apparaat verliest en geen toegang meer heeft tot deze codes verliest u toegang tot uw account.
    </p>
    <p>
        Nieuwe codes genereren verandert niets aan uw sleutels in de authenticatie apps. Als u de sleutels wil veranderen
        die gebruikt worden in een applicatieapp moet u uw <a asp-page="./ResetAuthenticator">authenticatiesleutels herstellen.</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Genereer herstelcodes</button>
    </form>
</div>