@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Herstel authenticatie sleutels";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Als u uw authenticatie sleutel hersteld zal deze niet meer werken tot u deze opnieuw instelt.</strong>
    </p>
    <p>
        Dit proces deactiveert 2FA totdat u uw authenticatie applicattie verifieerd.
        Als u deze configuratie niet voltooid kunt u mogelijk de toegang tot uw account verliezen.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Herstel authenticatie sleutel</button>
    </form>
</div>