@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="text-center">
        <h1 class="display-4">Welkom bij <p class="display-2">Buurtje</p></h1>
        <h4>Dé buurtapp voor het verkennen van de buurt</h4>
    </div>
    <div class="col-auto home-content">
        <div class="home-text row">
            <div class="home-text p-2 col-6 text-left">
                <article>
                    <p class="h4">Testing</p>
                    Dit is een tekst script, lorum ipsum
                </article>
            </div>
            <div class="home-text p-2 col-6">
                <article class="text-right">
                    <p class="h4">Testing</p>
                    Dit is een tekst script, lorum ipsum ofzoiets
                </article>
            </div>
        </div>
    </div>
</div>