@{
    ViewData["Title"] = "Nieuwe Melding maken";
}

<div class="text-center">
    <h1 class="display-4">Maak Melding</h1>

    <form>

  <div class="form-group">
    <label for="asdf">Titel van de melding:</label>
    <input type="email" class="form-control" id="asdf" aria-describedby="meldingTitelHelp">
    <small id="meldingTitelHelp" class="form-text text-muted">Hier komt de titel van de melding</small>
  </div>
  <div class="form-group">
    <label for="meldingBody">Beschrijf uw melding</label>
    <input type="text" class="form-control" id="meldingBody">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> 
</div>