@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="display-4 text-center">Privacy policy</h1>
<div class="col-lg-12">
    <h2></h2>
    <h4>
        Coding Is Vital, gevestigd aan Johanna Westerdijkplein 75, 2521 EN Den Haag, is verantwoordelijk voor de verwerking van persoonsgegevens zoals weergegeven in deze privacyverklaring.
    </h4>

    <h3>Contactgegevens</h3>
    <p>
        <ul>
            <li>https://71e1c35607554f3cb8f438cd54dab38f.azurewebsites.net</li>
            <li>Johanna Westerdijkplein 75, 2521 EN Den Haag</li>
            <li>0612345678</li>
        </ul>
    </p>
        <h3>Persoonsgegevens die wij verwerken</h3>
        <div>
            Coding Is Vital verwerkt uw persoonsgegevens doordat u gebruik maakt van onze diensten en /of omdat u deze zelf aan ons verstrekt. 
            Hieronder vindt u een overzicht van de persoonsgegevens die wij verwerken:
            <ul>
                <li> Adresgegevens</li>
                <li> E-mailadres</li>
                <li> IP-adres</li>
                <li> Gegevens over uw activiteiten op onze website </li>
            </ul>
        </div>
    <h3>Bijzondere en/of gevoelige persoonsgegevens die wij verwerken</h3>
    <div>
        Onze website en/of dienst heeft niet de intentie gegevens te verzamelen over websitebezoekers die jonger zijn dan 16 jaar.
        Tenzij ze toestemming hebben van ouders of voogd. We kunnen echter niet controleren of een bezoeker ouder dan 16 is.
    </div>
    <div>
        Wij raden ouders dan ook aan betrokken te zijn bij de online activiteiten van hun kinderen, om zo te voorkomen dat er gegevens over kinderen verzameld worden zonder ouderlijke toestemming.
    </div>
    <div>
        Als u er van overtuigd bent dat wij zonder die toestemming persoonlijke gegevens hebben verzameld over een minderjarige, neem dan contact met ons op via codingisvital@gmail.com, dan verwijderen wij deze informatie.
    </div>
        <h3>Geautomatiseerde besluitvorming</h3>
        <div>
            Coding Is Vital neemt responsibility op basis van geautomatiseerde verwerkingen besluiten over zaken die (aanzienlijke) gevolgen kunnen hebben voor
            personen. Het gaat hier om besluiten die worden genomen door computerprogramma's of -systemen, zonder dat daar een mens (bijvoorbeeld een medewerker
            van Coding Is Vital) tussen zit. Coding Is Vital gebruikt de volgende computerprogramma's of -systemen:
            <ul>
                <li>C#</li>
                <li>HTML</li>
                <li>Javascript</li>
            </ul>
        </div>
     <h3>Hoe lang we persoonsgegevens bewaren</h3>
     <div>
         Coding Is Vital bewaart uw persoonsgegevens niet langer dan strikt nodig is om de doelen te realiseren waarvoor uw gegevens worden verzameld. Wij hanteren
         de volgende bewaartermijnen voor de volgende (categorieën) van persoonsgegevens: 3 maanden
     </div>
     <h3>Delen van persoonsgegevens met derden</h3>
     <div>
         Coding Is Vital verstrekt uitsluitend aan derden en alleen als dit nodig is voor de uitvoering van onze overeenkomst met u of om te voldoen aan een wettelijke
         verplichting.
     </div>
     <h3>Cookies, of vergelijkbare technieken, die wij gebruiken</h3>
     <div>
         <div>
             Coding Is Vital gebruikt alleen technische en functionele cookies. En analytische cookies die geen inbreuk maken op uw privacy.
             Een cookie is een klein tekstbestand dat bij het eerste bezoek aan deze website wordt opgeslagen op uw computer, tablet of smartphone. De cookies die wij gebruiken zijn noodzakelijk
             voor de technische werking van de website en uw gebruiksgemak.
         </div>
         Ze zorgen ervoor dat de website naar behoren werkt en onthouden bijvoorbeeld uw voorkeursinstellingen. Ook kunnen wij hiermee onze website optimaliseren. U kunt zich afmelden voor cookies door uw internetbrowser zo in te stellen dat deze
         geen cookies meer opslaat. Daarnaast kunt u ook alle informatie die eerder is opgeslagen via de instellingen van uw browser verwijderen
     </div>
</div>