@{
    ViewData["Title"] = "Registreer";
}

<div class="container-fluid">
    <div class=" row">
        <div class="col-md-12 col-sm-12 col-xs-12"></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <form>
                <div class="form-group row">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Gebruikersnaam" required>
                </div>
                <div class="form-group row">
                    <input type="password" class="form-control" id="ww" name="wachtwoord" placeholder="Wachtwoord" required>
                </div>
                <div class="form-group row">
                    <input type="password" class="form-control" id="ww-repeat" name="wachtwoordherhaling" placeholder="Wachtwoord herhalen" required>
                </div>
                <div class="form-group row">
                    <input type="text" class="form-control" placeholder="Naam">
                </div>
                <div class="form-group row">
                    <input type="text" class="form-control" placeholder="Achternaam">
                </div>
                <div class="form-group row">
                    <input type="text" class="form-control" placeholder="Postcode">
                </div>
                <div class="form-group row">
                    <input type="text" class="form-control" placeholder="Straatnaam">
                </div>
                <div class="form-group row">
                    <input type="text" class="form-control" placeholder="Huisnummer">
                </div>
                <div class="form-group row">
                    <button type="button" class="btn btn-primary btn-block">Registreer</button>
                </div>
                <div class="form-group row">
                    <label>Heeft u al een account? <a href="">Klik hier om in te loggen.</a></label>
                </div>
            </form>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12"></div>
    </div>

</div>