@{
    ViewData["Title"] = "Uitleg";
} 

<h1 class="display-4 text-center">Welkom bij de uitlegpagina van Buurtje</h1>
<p>Omdat dit uw eerst bezoek is op onze site ziet u hieronder een overzicht met features en hoe u die kunt gebruiken.</p>
    <div class="col-lg-12">
        <img src="~/resource/businessman.png" class="img-fluid rounded" style="height: 250px" alt=" bussinessman uitleg icoontje" />
    </div>


<div class="col-lg-12">
    <h4>Meldingen bekijken</h4>
    <div>
        <ol>
            <li>
                Druk op de knop "Melding" voor een overzicht met alle meldingen 
            </li>
            <li>
                Druk op de knop "Geavanceerde search" om op een makkelijke manier een specifieke melding te vinden
            </li>
            </ol>
        <h4>Melding maken </h4>
        <ol> 
            <li>
              Druk op de knop "Maak een nieuwe melding"
            </li>
            <li>
                Voer een gepaste titel en beschrijving toe aan de melding
            </li>
            <li>
                Kies een gepaste categorie voor de melding
            </li>
            <li>
                Als uw melding anoniem moet blijven, vink de checkbox "Anoniem" aan
            </li>
            <li>
                Nadat u eventueel een gepaste foto heeft geüpload  drukt u op de "Maak" knop om de melding te maken
            </li>
        </ol>
    </div>
    <h4>Reageren op meldingen</h4>
    <div>
        <ol>
            <li>
                Druk op de melding waarop u wilt reageren
            </li>
            <li>
                Onderaan de melding kunt u in het tekstvak uw reactie plaatsen, druk daarna op "Plaats"
            </li>
        </ol>
    </div>
    <h4> Profiel bekijken en aanpassen</h4>
    <div>
        <ol>
            <li>
                Druk rechtsboven op de navigatiebalk op uw email
            </li>
            <li>
                Op dit scherm kunt u uw persoonsgegevens controleren en aanpassen. Na het aanpassen druk op "Sla op"
            </li>
            <li>
                Voor het aanpassen van uw emailadres druk op de knop "E-mail" aan de linkerkant van uw scherm. Na het aanpassen druk op "Verander E-mail"
            </li>
            <li>
                Voor het aanpassen van uw wachtwoord druk op de knop "Wachtwoord" aan de linkerkant van uw scherm. Na het aanpassen druk op "Verander wachtwoord"
            </li>
        </ol>
    </div>
</div>